<h1 class="text-center mt-5"><%= t('.header', title: @test_passage.test.title) %> </h1>
  <%= render 'test_passages/progress_bar', test_passage: @test_passage%>
<div class="container col-12 col-md-4 mt-5">
<div class="form-group">
<div class="form-control bg-light"> 
<% if @test_passage.success? %>
	<div>
		<strong class="text-success">
	Test was passed!</strong></p>
<% else %>
	<div>
		<strong class="text-danger">
	Test wasn't passed :( Please try again
</strong>
</div>
<% end %>
	<p>
		<strong>
		You scored <%= @test_passage.score %>
	</strong>
	</p>

</div>
</div>

  <h5><strong>
    Score: <%= @test_passage.score %> %
  </strong></h5>

<%= link_to 'All tests', tests_path, class: "btn btn-primary form-control" %>
</div>