<h1 class="text-center mt-5 mb-2">Passing The <%= @test_passage.test.title %> Test</h1>

<div class="container col-12 col-md-6">
<div class="form-group">
	<h3 class="mb-4">
	<%= @test_passage.current_question.body %>
</h3>
</div
>
<div class="form-group">
<%= form_with url: test_passage_path(@test_passage), class: "form-control bg-light", local: true, method: :put do |form| %>
<%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
<div class="form-check form-switch">
<p>
	<%= b.check_box id: "answer_ids#{b.object.id}", class: "form-check-input" %>
	<%= b.label class: "form-check-label" %>
</p>
</div>
	<% end %>
</div>

	<div class="form-group">
	
	<p><%= form.submit 'Next', class: "btn btn-success form-control" %></p>
	</div>
	<div class="form-group">
		
		<p>
	<strong>Current question:</strong> <%= @test_passage.current_question_number %>
		</p>
		<p>
	<strong>Total questions:</strong> <%= @test_passage.test.questions.count %>
		</p>
	</div>
<% end %>
	<p>
			<%= button_to 'Gist Question' ,
            			 gist_test_passage_path(@test_passage),
            			  class: "btn btn-primary",
            			 method: :post %>
		</p>
</div>
