<center>
  <p>
    <h1><%= @test.title %> <%= t('.header') %></h1>
  </p>
</center>
<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>
<p>
  <strong><%= t('.category') %></strong>
  <%= @test.category_id %>
</p>
<%= link_to t('.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.back'), admin_tests_path %>
<table>
  <center>
    <h1> <%=t('.list')%> <%= @test.title %></h1>
  </center>
  <p>
    <%= link_to t('.create'), new_admin_test_question_path(@test) %>
  </p>
  <%= render @test.questions %>
</table>