
<div class="test-logo text-center mt-5">
<h1><%= t('tests.index.header') %></h1>
</div>

<div class="row">
	<div class="container col-12 col-md-6 mt-3">
		<div class="table-responsive">
	<table class="table table-striped table-hover">
		<tr>
			<th scope="col"><%= t('.title') %></th>
			<th scope="col"><%= t('.level') %></th>
			<th scope="col"><%= t('.count') %></th>
			<th scope="col"><%= t('.action') %></th>
		</tr>

		<%= render @tests %>

	</table>
	</div>
</div>
</div>

