<div class="test-logo">
<h1><%= t('tests.index.header') %></h1>
</div>

<% if current_user.admin? %>
  <div class="admin-link">
  	 <%= link_to t('.admin'), admin_tests_path %>
  </div>
<% end %>

<table>
	<tr>
		<th><%= t('.title') %></th>
		<th><%= t('.level') %></th>
		<th><%= t('.count') %></th>
		<th><%= t('.action') %></th>
	</tr>

	<%= render @tests %>

</table>

