<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
     <%= render partial: 'shared/header' %>
     <%= render 'shared/menu' %>
     <%= render 'shared/flash' %>
    <%= yield %>
       <%= render partial: 'shared/footer' %>
  </body>
</html>